@use "./variables" as *;

.end_page {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3,1fr);
  grid-template-areas: 
  "timer-symbol timer"
  "flag-symbol flags-remaining"
  "restart restart";
  width: 60%;
  height: 40%;
  margin: 0 auto;
  margin-top: 50%;
  align-items: center;
  text-align: center;
  column-gap: 40px;

  &__left {
    text-align: left;
  }

  &__right {
    text-align: right;
  }

  &__text {
    font-size: 8vw;
  }

  &__button {

    button {
      width: 80%;
      height: 100%;
      font-size: 8vw;
      background-color: $grid-square-colour;
      border: 1px solid $font-color;
      border-radius: 2px;
      color: $font-color;
      font-family: 'Fjalla One', sans-serif;
    }
  }

}

#end_page {
  
  &__timer_symbol {
    grid-area: timer-symbol;
  }

  &__timer {
    grid-area: timer;
  }

  &__flags_remaining {
    grid-area: flags-remaining;
  }

  &__flag_symbol {
    grid-area: flag-symbol;
  }

  &__restart {
    grid-area: restart;
  }
}

@media screen and (min-width: 600px) {
  .end_page {
    height: 40%;
    margin-top: 45%;
  }
}

@media screen and (min-width: 992px) {
  .end_page {
    width: 20%;
    height: 30%;
    margin-top: 18%;
  
    &__text {
      font-size: 3vw;
    }
  
    &__button {
  
      button {
        font-size: 3vw;
      }
    }
  }
}