@use "./variables" as *;

.game_page {
  display: none;
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: repeat(7,1fr);
  grid-template-areas: 
  "timer-symbol timer timer winLose winLose flags-remaining flag-symbol"
  "grid-box grid-box grid-box grid-box grid-box grid-box grid-box";
  height: 70%;
  width: 90%;
  margin: 0 auto;
  margin-top: 20%;
  align-items: center;
  column-gap: 1vw;

  &__grid {
    margin: 0 auto;
    height: 100%;
    background-color: $grid-outline-color;
    height: min(85vh,85vw);
    width: min(85vh,85vw);
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    border: 0.6vw solid $grid-outline-color;
    border-radius: 5px;

    &__square {
      background-color: $grid-square-colour;
      border: 0.25vw solid $grid-outline-color;
      text-align: center;
      width: 100%;
      height: 100%;
    }
  }

  &__right {
    text-align: right;
  }

  &__center {
    text-align: center;
  }

  &__text {
    font-size: 7vw;
  }
}

#game_page {

  &__timer_symbol {
    grid-area: timer-symbol;
  }

  &__timer {
    grid-area: timer;
  }

  &__flag_symbol {
    grid-area: flag-symbol;
  }

  &__flags_remaining {
    grid-area: flags-remaining;
  }

  &__grid {
    grid-area: grid-box;
  }

  &__winLose {
    grid-area: winLose;
  }
}

@media screen and (min-width: 600px) {
  .game_page {
    margin-top: 15%;
    column-gap: 1.2vw;
  
    &__grid {
      border-radius: 10x;
    }

    &__text {
      font-size: 6vw;
    }
  }
}

@media screen and (min-width: 992px) {
  .game_page {
    height: 80%;
    width: 40%;
    margin-top: 5%;
  
    &__grid {
      height: min(60vh,60vw);
      width: min(60vh,60vw);
      border-radius: 15px;
    }
  
    &__text {
      font-size: 2.75vw;
    }
  }
}