@use "./variables" as *;

.game_page {
  display: none;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: repeat(7,1fr);
  grid-template-areas: 
  "timer-symbol timer timer winLose winLose flags-remaining flag-symbol"
  "grid-box grid-box grid-box grid-box grid-box grid-box grid-box";
  height: 80%;
  width: 40%;
  margin: 0 auto;
  margin-top: 5%;
  align-items: center;
  column-gap: 1vw;

  &__grid {
    margin: 0 auto;
    background-color: $grid-outline-color;
    height: 60vh;
    width: 60vh;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    border: 0.6vw solid $grid-outline-color;
    border-radius: 5px;

    &__square {
      background-color: $grid-square-colour;
      border: 0.25vw solid $grid-outline-color;
      text-align: center;
      width: 100%;
      height: 100%;
    }
  }

  &__right {
    text-align: right;
  }

  &__text {
    font-size: 3vw;
  }

  &__center {
    text-align: center;
  }
}

#game_page {

  &__timer_symbol {
    grid-area: timer-symbol;
  }

  &__timer {
    grid-area: timer;
  }

  &__flag_symbol {
    grid-area: flag-symbol;
  }

  &__flags_remaining {
    grid-area: flags-remaining;
  }

  &__grid {
    grid-area: grid-box;
  }

  &__winLose {
    grid-area: winLose;
  }
}

@media screen and (min-width: 600px) {

}

@media screen and (min-width: 992px) {
  
}