@use "./variables" as *;

.landing_page {
  display: grid;
  grid-template-rows: 1fr 1.75fr 1fr 3fr 0.5fr;
  grid-template-areas: 
  "head"
  "difficulty"
  "timer"
  "howToPlay"
  "startButton";
  width: 90%;
  height: 80%;
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
  align-items: center;
  row-gap: 3vw;

  h1 {
    font-size: 10vw;
  }

  h2 {
    font-size: 10vw;
    margin-bottom: 3vw;
  }

  h3 {
    font-size: 8vw;
    text-align: left;
  }

  p {
    font-size: 1vw;
    margin: 0 auto;
  }

  li {
    font-size: 2.5vw;
    margin-top: 5px;
    font-weight: 200;
    width: 80%;
    margin: 0 auto;
    text-align: left;
  }

  &__dropdown {
    display: grid;
    grid-template-columns: 2fr 1fr;

    &__menu {
      height: 8vw;
      background-color: $grid-square-colour;
      color: $font-color;
      font-family: 'Fjalla One', sans-serif;
      border: 1px solid $font-color;
      border-radius: 2px;
    }

    &__custom {
      text-align: left;
      &__input {
        background-color: $grid-square-colour;
        color: $font-color;
        font-family: 'Fjalla One', sans-serif;
        width: 30%;
        border: 1px solid $font-color;
        text-align: center;
        border-radius: 2px;
      }
    }
    
  }

  &__button {
    width: 60%;
    margin-left: 20%;
    height: 100%;
    
    button {
      width: 100%;
      height: 80%;
      font-size: 4vw;
      background-color: $grid-square-colour;
      border: 1px solid $font-color;
      border-radius: 2px;
      color: $font-color;
      font-family: 'Fjalla One', sans-serif;
    }
  }

  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
  }
}

#landing_page {

  &__dropdown {
    
    &__custom {
      display: none;
      margin-top: 10px;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: repeat(3,1fr);
      row-gap: 5px;
    }
  }


  &__header {
    grid-area: head;
  }

  &__difficulty {
    grid-area: difficulty;
  }

  &__timer {
    grid-area: timer;
  }

  &__start {
    grid-area: startButton;
  }

  &__how_to_play {
    grid-area: howToPlay;
    align-self: start;

    ol {
      display: flex;
      flex-direction: column;
      list-style-position: inside;
    }
  }
}

// MEDIA QUERIES

@media screen and (min-width: 460px) {
  .landing_page {
    li {
      font-size: 2.5vw;
    }
  }
}

@media screen and (min-width: 600px) {
  .landing_page {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-template-areas: 
    "head head"
    "difficulty howToPlay"
    "timer howToPlay"
    "startButton howToPlay"
    ". howToPlay";
    margin-top: 10%;

    h1 {
      font-size: 6vw;
    }
  
    h2 {
      font-size: 5vw;
      margin-bottom: 20px;
    }
  
    h3 {
      font-size: 4vw;
    }

    li {
      font-size: 2vw;
      margin-top: 15px;
    }

    &__dropdown {
  
      &__menu {
        height: 3.5vw;
        font-size: 2vw;
      }
      
      &__custom {
        
        &__label {
          font-size: 2.5vw;
        }
      }
    }

    &__button {
      
      button {
        height: 40%;
        margin-top: 10%;
        font-size: 3vw;
      }
    }
  }
}

@media screen and (min-width: 860px) {
  .landing_page {
    li {
      font-size: 1.5vw;
    }
  }
}

@media screen and (min-width: 992px) {
  .landing_page {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-template-areas: 
    "head howToPlay"
    "difficulty howToPlay"
    "timer howToPlay"
    "startButton howToPlay"
    ". howToPlay";

    width: 60%;
    height: 70%;
    text-align: left;
    column-gap: 5vw;

    h1 {
      font-size: $h1-size;
    }
  
    h2 {
      font-size: $h2-size;
    }
  
    h3 {
      font-size: $h3-size;
    }

    li {
      font-size: 1.3vw;
      margin-top: 15px;
    }

    &__dropdown {
  
      &__menu {
        height: 2vw;
        font-size: 1.5vw;
      }

      &__custom {
        
        &__label {
          font-size: 1.2vw;
        }

        &__input {
          font-size: 1.1vw;
        }
      }
    }

    &__button {
      
      button {
        height: 50%;
        font-size: 2vw;
      }
    }
  }
}