
// Background colours

$background-color: #3D3B3C;
$grid-outline-color: #DED4ED;
$grid-square-colour: #7C8682;

// Font colours

$font-color: #F3F7F4;

// Font sizes

$h1-size: 4vw;
$h2-size: 3vw;
$h3-size: 2vw;

// Grid sizes